body {

}
.admini_main_content {
    width:50%;
    height:auto;
    border-radius:5px;
    box-shadow:0px 0px 5px 5px #aaaaaa;
    background-color:#222d32;
    color:white;
    margin:10px auto;
    font-size:16px;
    font-family:'Microsoft YaHei';
    margin-top:10px;
    position:relative;
}
    .admini_main_content .image_content {
        width:100%;
        height:auto;
        text-align:center;
    }
        .admini_main_content .image_content img {
            border-radius:50%;
            border-style:inherit;
            width:100px;
            height:100px;
    }
    .admini_main_content input {
        margin-left:10px;
        margin-right:10px;
    }
    .admini_main_content .a_content {
        width:100%;
        height:auto;
    }
    .admini_main_content a {
        margin-left:10px;
    }